<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="msapplication-config" content="none"/>
    <meta name="keywords" content="{KEYWORDS}"/>
    <meta property="og:url" content="{OG_URL}">
    <meta property="og:site_name" content="{OG_SITE_NAME}">
    <meta property="og:title" content="{OG_TITLE}">
    <meta property="og:description" content="{OG_DESCRIPTION}">
    <meta property="og:image" content="{OG_IMAGE}">
    <meta property="og:image:type" content="{OG_IMAGE_TYPE}">
    <meta property="og:image:width" content="{OG_IMAGE_WIDTH}">
    <meta property="og:image:height" content="{OG_IMAGE_HEIGHT}">
    <title>LoESoft Games - {TITLE}</title>
    <link href="../../media/favicon.ico" rel="icon"/>
    <link href="../../css/main.css" rel="stylesheet"/>
    <link href="../../css/side-nav.css" rel="stylesheet"/>
    <link href="../../css/overlay.css" rel="stylesheet"/>
    <link href="../../css/utils.css" rel="stylesheet"/>
    {CSS}
</head>
<body>
<div id="side-bar" class="side-nav">
    {LOGIN}
    <br/>
    <br/>
    <a href="../../">Home</a>
    <a href="../../news">News</a>
    <a href="../../change-log">Change Log</a>
</div>
<div class="margin-offset">
    <h1 style="padding-left: 64px">_{TITLE}</h1>
    <br/>
    <div class="body">{BODY}</div>
    <br/>
    <div id="result-content" class="overlay overlay-content center-element">
        <table>
            <tbody>
            <tr>
                <td id="result"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="logout" class="overlay overlay-content center-element">
        <table>
            <thead>
            <tr>
                <th><h2>Logout</h2></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center">Are you sure you want to <strong>logout</strong>?</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td rowspan="2">
                    <div class="relative-center">
                        <div style="width: 50%; margin: 5%;">
                            <button id="logout-btn" style="width: 100%; padding: 2%;" type="button"
                                    onclick="sendLogoutPacket()">Yes
                            </button>
                        </div>
                        <div style="width: 50%; margin: 5%;">
                            <button style="width: 100%; padding: 2%;" onclick="hideOverlay('logout')">No
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="login" class="overlay overlay-content center-element">
        <table>
            <thead>
            <tr>
                <th colspan="2"><h2>Login</h2></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-right"><label><strong>Username</strong></label></td>
                <td><input id="username" type="text" placeholder="username"/></td>
            </tr>
            <tr>
                <td class="text-right"><label><strong>Password</strong></label></td>
                <td><input id="password" type="password" placeholder="password"/></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2" rowspan="2">
                    <div class="relative-center">
                        <div style="width: 50%; margin: 5%;">
                            <button id="login-btn" style="width: 100%; padding: 2%;" type="button"
                                    onclick="sendLoginPacket()">Login
                            </button>
                        </div>
                        <div style="width: 50%; margin: 5%;">
                            <button style="width: 100%; padding: 2%;" type="button" onclick="hideOverlay('login')">
                                Cancel
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div id="loading" class="loading-overlay" style="text-align: center">
    <img src="../../media/loading.gif" width="48" height="48"/>
    <br/>
    <strong>Loading, please wait...</strong>
</div>
</body>
<footer class="margin-offset">{FOOTER}</footer>
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/js.cookie.js"></script>
<script src="../../js/utils.js"></script>
<script src="../../js/toggle-overlay.js"></script>
<script src="../../js/version.js"></script>
<script src="../../js/packet-ids.js"></script>
<script src="../../js/send-packet-async.js"></script>
<script src="../../js/boolean-utils.js"></script>
<script src="../../js/login.js"></script>
<script src="../../js/change-log.js"></script>
<script>
    $(document).ready(function () {
        $("#loading").height("0%");
        $("#currentYear").html(new Date().getFullYear());
        $("#version").html(version);
    });
</script>
</html>