<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>LoESoft Games - {TITLE}</title>
    <link href="../../media/favicon.ico" rel="icon"/>
    <link href="../../css/main.css" rel="stylesheet"/>
    <link href="../../css/side-nav.css" rel="stylesheet"/>
</head>
<body>
<div class="side-nav">
    <a href="../../">Home</a>
    <a href="../../">Home</a>
    <a href="../../">Home</a>
    <a href="../../">Home</a>
    <a href="../../">Home</a>
    <a href="../../">Home</a>
</div>
<div class="margin-offset">
    <h1>_{TITLE}</h1>
    <br/>
    <div class="body">{BODY}</div>
    <br/>
</div>
</body>
<footer class="margin-offset">{FOOTER}</footer>
<script src="../../js/jquery-3.3.1.slim.min.js"></script>
<script>
    $(document).ready(function () {
        $("#currentYear").html(new Date().getFullYear());
    });
</script>
{SCRIPT}
</html>