.center-element {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center-button {
    display: block;
    margin: auto;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.margin-offset {
    margin-left: var(--ws-side-bar-offset-margin);
}

.body {
    padding-left: 2%;
    padding-right: 2%;
    color: var(--ws-shade-color-4);
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.footer {
    margin-left: 24px;
    margin-right: 24px;
}

.relative-center {
    display: flex;
    justify-content: center;
    width: 100%;
}

code.relative-center {
    display: inline-table;
    width: 99%;
}

.code-title {
    background-color: var(--ws-shade-color-1);
    padding: 2px;
    margin-right: 4px;
    border: 1px solid var(--ws-shade-color-4);
    border-radius: var(--ws-button-border-radius);
}

.code-debug {
    padding: 0;
    margin: 0;
    color: var(--ws-shade-color-4);
}